body{ 
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*Banner Section Css Stard*/

.banner{ 
    display: flex;
    padding: 4%;
    background-color:rgba(232, 232, 232, 1);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.half-width{ 
    width: 50%;
}

.banner-image-style{ 
    width: 100%;
    border-radius: 5px 50px;
}

.banner-content-section{ 
    margin-left:8%;
    margin-right: 8%;
    padding-top: 6%;
}

.text-color{ 
    color: orange
}

h1{ 
    font-size: 40px;
    margin: 2px;
    font-weight: 700;
}

h2{
    color: rgb(70, 63, 63);
    font-size: 30px;
}


p{
    color: dimgray;
    
}

.btn-margin{ 
    margin-top: 100px;
}

.btn-style{ 
    color: white;
    font-size: 22px;
    text-decoration: none;
    padding: 20px 50px;
    background-image: linear-gradient(orange , orangered);
    border-radius: 50px;
    box-shadow:5px 5px 10px orangered ;
}

/* Banner Section Css End*/

/* About us Section Css End*/

.about-us{
    display: flex;
    background-image: url(../images/about-us-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.about-us-image-style{ 
    height: 80%;
    margin-left: 15%;
    margin-top: 8%;
    
    border-radius: 80%;
}

.about-us-content-section{
    margin-left:8%;
    margin-right: 8%;
    padding-top: 10%;
}

/* About us section css end*/

.menu-content{ 
    text-align: center;
    margin: auto;
    width: 50%;
    margin-bottom: 5%;
}

.item-box{ 
    
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
}

.item-image{ 
    width: 100%;
    border-radius: 120px;
}

.menu-item{ 
    padding: 2%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    border-radius: 60px;
    box-shadow:5px 5px 10px dimgray ;
    background-color: rgba(0, 255, 0, 0.05);
}

/*Menu section css end here*/

.follower{ 
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow:5px 5px 10px dimgray ;
}

.follower-item{ 
    
    width: 30%;
    text-align: center;
    padding: 10px;
}

/*Follower section css end here*/



.footer{ 
    
    background-color: black;
    display: flex;
}

.footer-content{ 
    width: 70%;
    
    text-align: center;
}


.follow-item{
    color: white;
    padding-top: 10px;
    padding-left: 15px;
}

.fa {
    padding: 5px;
    font-size: 30px;
    width: 30px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }